update_cmd = default

# How to send messages.  Valid options are stdio and email.  If
# emit_via includes stdio, messages will be sent to stdout; this is useful
# to have cron send the messages.  If emit_via includes email, this
# program will send email itself according to the configured options.
# If emit_via is None or left blank, no messages will be sent.
emit_via = email

[email]
# The address to send email messages from.
email_from = {{ansible_hostname}}

# List of addresses to send messages to.
email_to = {{unattended_upgrades_admin_email}}

# Name of the host to connect to to send email messages.
email_host = localhost
