oracle.assistants.server|S_SYSPASSWORD={{syspassword}}
oracle.assistants.server|S_SYSTEMPASSWORD={{systempassword}}
oracle.assistants.server|S_DBSNMPPASSWORD={{dbsnmppassword}}
oracle.assistants.server|S_PDBADMINPASSWORD={{pdbadminpassword}}
