[Unit]
Description=Elasticsearch exporter

[Service]
ExecStart=/usr/bin/elasticsearch_exporter --es.uri=http://localhost:9200 --es.all
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=elasticsearch-exporter.service