listen=YES
listen_ipv6=NO
anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=022
use_localtime=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_file=/var/log/vsftpd.log
xferlog_std_format=YES
idle_session_timeout=600
data_connection_timeout=120
ascii_upload_enable=YES
chroot_local_user=YES
allow_writeable_chroot=YES
pasv_enable=YES
pasv_min_port=62000
pasv_max_port=62999
guest_enable=YES
guest_username={{vsftpd_guest_username}}
virtual_use_local_privs=YES
user_sub_token=$USER
local_root={{vsftpd_local_root}}$USER
hide_ids=YES
seccomp_sandbox=NO
